# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/.nx/workspace-data
.angular

# Custom
/junit
junit.xml
/tmp
/node_modules
/.vscode
/.idea
package-lock.json
package.json
yarn.lock
