# You can see what browsers were selected by your queries by running:
#   npx browserslist
>0.3%
last 2 Chrome version
last 2 Firefox version
last 2 Edge major versions
last 2 Safari major versions
last 2 iOS major versions
Firefox ESR
Chrome > 68
Firefox > 66
not op_mini all
not dead
